In [112]:
import pandas as pd
import matplotlib as plt

In [133]:
import requests 
# Make a get request to get the latest position of the international space station from the opennotify api.
EIA_api_key = '53e6a63887dc05efe150165fa890f8da'
response = requests.get("http://api.eia.gov/category/?api_key="+EIA_api_key+"&category_id=371")

response

dummy=0

In [134]:
url1 = 'http://api.eia.gov/series/?api_key='+EIA_api_key+'&series_id=ELEC.GEN.ALL-UT-99.M'
url2 = 'http://api.eia.gov/series/?api_key='+EIA_api_key+'&series_id=ELEC.GEN.ALL-CO-99.M'
ePricesUT = requests.get(url1)
ePricesCO = requests.get(url2)

ePricesUT = ePricesUT.content.decode("utf-8")
ePricesCO = ePricesCO.content.decode("utf-8")


import json
UTdict = json.loads(ePricesUT)
COdict = json.loads(ePricesCO)
#UTdict['series']


dfUT = pd.DataFrame.from_dict(UTdict['series'])
dfCO = pd.DataFrame.from_dict(COdict['series'])

dfUT = dfUT['data'][0]
dfCO = dfCO['data'][0]

In [135]:
dfUT = pd.DataFrame(dfUT)
dfCO = pd.DataFrame(dfCO)

In [138]:
while dummy == 0:
    UTcolumns = ['DateTime','UT_Net_Gen']
    COcolumns = ['DateTime','CO_Net_Gen']

    dfUT.columns = UTcolumns
    dfCO.columns = COcolumns

    dfUT['DateTime'] = pd.to_datetime(dfUT['DateTime'],format='%Y%m', errors='ignore')
    dfCO['DateTime'] = pd.to_datetime(dfCO['DateTime'],format='%Y%m', errors='ignore')
    dfUT = dfUT.set_index(dfUT['DateTime'])
    dfCO = dfCO.set_index(dfCO['DateTime'])

    dfUT = dfUT['UT_Net_Gen']
    dfCO = dfCO['CO_Net_Gen']
    dummy += 1


#print(dfUT)
#print(dfCO)
df = pd.concat([dfUT,dfCO],axis=1)
df.head()

            UT_Net_Gen  CO_Net_Gen
DateTime
2018-12-01  4075.05341  5126.74053
2018-11-01  3667.82540  4534.25915
2018-10-01  3397.63940  4290.06948
2018-09-01  3444.35417  4571.52680
2018-08-01  4317.71877  5265.79230

In [ ]:
NOAA_api_key = 'bLWeZKFYfwEdFJbasNETBGUwZgCiSIdA'
response = requests.get("http://api.eia.gov/category/?api_key="+EIA_api_key+"&category_id=371")

response